.page3 {
  &-container {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 100px 300px 200px;
    // grid-template-areas:
    //   "header header header"
    //   "sidebar body body"
    //   ". footer footer";
    // grid-template:
    //   "header header header" 100px
    //   "sidebar body body" 300px
    //   ". footer footer" 200px
    //   / 1fr 1fr 1fr;

    gap: 10px;

    background-color: rgb(240, 198, 71);
    margin: 20px;
  }

  &-item {
    border: 2px solid blue;
  }

  &-header {
    // grid-area: 3 / 3;
    // grid-area: span 2 / span 2;
    // grid-area: 1 / 1 / 3 / 4;
    // grid-area: header;
  }

  &-main {
    // grid-area: body;
  }

  &-aside {
    // grid-area: sidebar;
  }

  &-footer {
    // grid-area: footer;
  }
}

@media (max-width: 600px) {
  .page3 {
    &-container {
      // grid-template-columns: 1fr;
      // grid-template-areas:
      //   "header"
      //   "body"
      //   "sidebar"
      //   "footer";
    }
  }
}